* {
    box-sizing: border-box;
  }
.navbar{
    opacity: 0.8;
    font-size: 20px;
}
.nav-link:hover{
    background-color: rgb(67, 204, 117);
    border-radius: 10px;
}
#drop:focus{
    background-color: rgb(99, 178, 88);
    border-radius: 10px;
}
.navbar-brand{
    font-style: oblique;
}
.footer{
    width: 100%;
    bottom: 0;
    font-size: 20px;
}
.footer a{
    text-decoration: none;
}

#demo{
    padding-top: 56px;
    width: 80%;
}
.carousel-item img{
    width: 100%;
}
.horizontalDivider{
    height: 12px;
    border: 15;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    width: 100%;
}
#parag{
    text-align: center;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 2px black;
    font-style: italic;
}
.jumbotron{
    background-image: url("./img/3.jpg");
    background-size: cover; /*resmi sığdırmaya çalıştırır bu kod */
    background-position: 50% 30%;
    border-radius: 9px;
   
    font-size: 28px;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
}